[submodule "backend/examples"]
	path = backend/examples
	url = https://github.com/adamtool/examples.git
[submodule "backend/framework"]
	path = backend/framework
	url = https://github.com/adamtool/framework.git
[submodule "backend/logics"]
	path = backend/logics
	url = https://github.com/adamtool/logics.git
[submodule "backend/modelchecker"]
	path = backend/modelchecker
	url = https://github.com/adamtool/modelchecker.git
[submodule "backend/synthesizer"]
	path = backend/synthesizer
	url = https://github.com/adamtool/synthesizer.git
[submodule "backend/webinterface-backend"]
	path = backend/webinterface-backend
	url = https://github.com/adamtool/webinterface-backend.git
[submodule "backend/libs"]
	path = backend/libs
	url = https://github.com/adamtool/libs.git
[submodule "backend/high-level"]
	path = backend/high-level
	url = https://github.com/adamtool/high-level.git
[submodule "backend/synthesisDistrEnv"]
	path = backend/synthesisDistrEnv
	url = https://github.com/adamtool/synthesisDistrEnv
